@media (max-width: 1250px) {
    header {
        padding: 26px 100px;
    }

    .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .sectionfirst {
        width: 100%;
        height: 720px;
        background-image: url(..//images/Rectangle\ 106.png);
        display: flex;
        background-size: cover;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 153px 454px 58px 455px;
    }

    .viewmorebutton {
        display: none;
    }

    h2 {
        color: #FFF;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 495px;
    }

    .section1stp {
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 16px;
        margin-bottom: 72px;
        letter-spacing: 1px;
    }

    .sectiontwo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 160px 150px;
        gap: 30px;
    }

    .lowerthree {
        gap: 30px;
    }

    .first {
        width: 50%;
        margin-left: 50px;
    }

    .mesame {
        width: 50%;

    }

    .second {
        width: 33%;
        margin-right: 50px;
    }

    .third {
        width: 25%;
        margin-left: 50px;
    }

    .mesame {
        margin-left: -10px;
    }

    .fourth {
        width: 34%;
        margin-right: 50px;
    }

    .price {
        font-size: 10px;
        padding: 10px 12px 9px 12px;
    }

    footer {
        display: flex;
        padding: 32px 365px;
        justify-content: center;
        align-items: flex-start;
        gap: 90px;
        background: #402101;
    }

    .secondline {
        gap: 400px;
    }

    .searchbox {
        width: 600px;
    }

    .noactiveimage {
        display: none;
    }

    .pg3sectionfirst {
        padding: 112px 450px 112px 300px;

    }

    .h12 {
        text-align: center;
    }

    .pg3sectionsecond {
        padding: 160px 40px;

    }

    .andmap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 40px;
        padding: 0;
    }

    .forbackground {
        display: block;
        width: 600px;
    }

    .mapdimensions {
        width: 100%;
        height: 320px;
        flex-shrink: 0;
    }
}