@media (max-width: 1440px) {
    header {
        
        padding: 26px 120px; }
    .burgermenu{
        display: none;
    }
    .forresponsive{
        width: 100%;
        /* width: 315px; */
    }
    .pg2sectionsecond{
        padding-top: 160px;
    padding-bottom: 160px;
    padding-left: 40px;
    padding-right: 40px;
    /* background-color: aqua; */
    }
    .secondline{
    gap: 1009px;

    }
    .thirdline{
    gap: 80px;
    justify-content: flex-start;
    align-items: center;
    
    }
    .eightimage{
        width: 400px;
    }
    .sextionsix{
        padding: 160px 45px;
    }
    .cards{
        max-width: 439px;
        width: 100%;
    }
    .cardsdiv{
        gap: 16px;
    }
}