@media (max-width: 1700px) {
    .burgermenu{
        display: none;
    }
    .sectionfour{
    padding: 160px 16px;
    }
    .smallpics{
        gap: 24px;
    }
    .leftarrow{
        margin-right: 0;
    }
.rightarrow{
    margin-left: 0;
}
.forresponsive{
    /* width: 300px; */
    width: 100%;
}
.sextionsix{
    padding: 160px 45px;
}
.cards{
    max-width: 439px;
    width: 100%;
}
}