@media (max-width: 675px) {
    header {
        padding: 26px 20px;
    }

    .headerearthly {
        display: flex;
        flex-direction: column;
    }

    .cards {
        height: 160px;
    }

    .sectionfirst {
        background-image: url(../images/Rectangle\ 109.png);
        padding: 132px 20px;
        height: 600px;
    }

    .secondline {
        gap: 81px;
    }

    .burgermenu {
        display: block;
    }

    .headernav {
        display: none;
    }

    .list {
        display: none;
    }

    .sectiontwo {
        padding: 64px 57px;
    }

    h2 {
        font-size: 25px;
        text-align: center;
        width: 310px;
        margin-top: 100px;
    }

    .section1stp {
        width: 400px;

    }

    .h10 {
        color: #FFF;
        font-family: Inter;
        font-size: 5px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 394px;
        height: 39px;
    }

    .first {
        width: 90%;
        margin-left: 5px;
    }

    .second {
        width: 90%;
        margin-right: 5px;
    }

    .mesame {
        width: 100%;
        max-width: 604px;
        height: 322px;
        margin-left: 5px;
    }

    .fourth {
        display: none;
    }

    .lowerthree {
        max-width: 606px;
        width: 90%;
    }

    .displaynone2 {
        display: none;
    }

    .sectionfive {
        height: 200px;
    }

    h5 {
        margin-bottom: 24px;
        font-size: 32px;
    }

    .emailbox {
        width: 346px;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footlist {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .responsivefoot {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .vert {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contactslist {
        display: flex;
        flex-direction: row;
    }

    .details {
        display: none;
    }

    .pg2sectionfirst {
        background-image: url(..//images/Rectangle\ 110.png);
        height: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 57px 43px;
        gap: 22px;
    }

    .h10 {
        color: #FFF;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        height: 39px;
        margin-bottom: 0;
        margin-top: 57px;
    }

    .displaynone480 {
        display: none;
    }

    .firstline {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 25px;
    }

    .searchbox {
        width: 366px;
        height: 56px;
    }

    .searchbutton {
        width: 166px;
    }

    footer {
        align-items: center;
        padding: 32px 123px;
    }

    .earthlyartisry {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .fa-bars {
        display: block;
    }

    .burgermenu {
        background-color: #ffd9b3;
        position: fixed;
        top: 95px;
        width: 15%;
        height: 100px;
        left: -30%;
        transition: .5s linear;
    }

    .burgermenuul {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .show {
        left: 0;
    }

    .pg3sectionfirst {
        padding: 32px 20px;

    }

    .pg3inputs {
        width: 400px;
        padding: 24px;
    }

    .inputsbox {
        width: 100%;
    }

    .fortransparent {
        width: 150px;
    }

    .messagebox {
        width: 360px;
    }

    .mapdimensions {
        margin-bottom: 0;
    }

    .andmap {
        gap: 40px;
        margin-top: 10px;
    }

    .forbackground {
        margin-top: 0;
    }
}