@media (max-width: 744px) {
    .sectionfirst {
        padding: 186px 40px;
    }

    .h10 {
        width: 500px;
    }

    h2 {
        width: 400px;
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .headernav {
        display: none;
    }

    .section1stp {
        padding: 0 50px;
        width: 460px;
        margin-bottom: 100px;
    }

    .list {
        display: none;
    }

    .fa-bars {
        display: block;
    }

    .burgermenu {
        background-color: #ffd9b3;
        position: fixed;
        top: 95px;
        width: 15%;
        height: 100px;
        left: -30%;
        transition: .5s linear;
    }

    .burgermenuul {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .show {
        left: 0;
    }

    .sectiontwo {
        padding: 140px 132px;
    }

    .pg2sectionfirst {
        padding: 240px 126px;
    }

    .writingbox {
        width: 257px;
    }

    .searchbutton {
        width: 200px;
        margin-right: 22px;
    }

    .pwitharrow {
        color: #402101;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-right: 22px;
    }

    .arrowwithp {
        margin-right: 32px;
    }

    .secondline {
        gap: 330px;

    }

    .pandarrow {
        margin-right: 32px;
    }

    .pwitharrow {
        width: 180px;
        margin-right: 0;
    }

    .arrowwithp {
        margin-right: 0;
    }

    .eightimage {
        width: 330px;
    }

    .thirdline {
        gap: 40px;
    }

    .noactiveimage {
        display: none;
    }

    .pg2sectionsecond {
        padding-top: 160px;
        padding-bottom: 160px;
        padding-left: 22px;
        padding-right: 22px;
    }

    .earthlyartisry {
        text-align: center;
    }

    footer {
        padding: 32px 24px;

        gap: 20px;
    }

    .pg3sectionfirst {
        padding: 112px 122px 112px 122px;

    }
}

@media (max-width: 735px) {

    .mapdimensions {
        width: 100%;
        height: 320px;
    }

    .forbackground {
        width: 400px;
    }
}