@media (max-width: 744px) {
    header{
        /* width: 100%; */
        /* padding: 26px 60px; */
            /* gap: 20px; */
        }
        .sectionfirst{
            padding: 186px 40px;
        }
        .h10{
            width: 500px;
        }
        h2{
            width: 400px;
            margin-top: 100px;
            margin-bottom: 20px;
        }
        .headernav{
            display: none;
        }
        .section1stp{
            padding: 0 50px;
            width: 460px;
            margin-bottom: 100px;
        }
    .list{
        display: none;
    }
    .burgermenu{
        /* background-color: aqua; */
        display: block;
        /* padding: 32px 632px 32px 80px; */
    }
    .sectiontwo{
        padding: 140px 132px;
    }
    .pg2sectionfirst{
        padding: 240px 126px;
    }
    .searchbox{
        /* width: 477px; */
        /* margin-right: -50px; */
    }
    .writingbox{
width: 257px;
    }
    .searchbutton{
width: 200px;
margin-right: 22px;
/* margin-left: 32px; */
    }
    .pwitharrow{
        color: #402101;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
/* width: 155px; */
margin-right: 22px;
/* word-wrap: normal; */
/* overflow-wrap: ; */
    }
    .arrowwithp{
        margin-right: 32px;
        /* margin-left: 12px; */
    }
    .secondline{        
        gap: 330px;
    
        }
        .pandarrow{
            margin-right: 32px;
        }
        .pwitharrow{
            width: 180px;
            margin-right: 0;
        }
        .arrowwithp{
            margin-right: 0;
        }
    .eightimage{
        width: 330px;
        /* gap: 40px; */
    }
    .thirdline{
        gap: 40px;}

        .noactiveimage{
            display: none;
        }
        .pg2sectionsecond{
            padding-top: 160px;
        padding-bottom: 160px;
        padding-left: 22px;
        padding-right: 22px;
        /* background-color: aqua; */
        }

        .earthlyartisry{
            text-align: center;
            /* padding: 10px; */
        }

        footer {
        padding: 32px 24px;

            gap: 20px;
        } 
        .fa-bars {
            display: block;
        }
    
        .burgermenu {
            background-color: rgb(86, 183, 200);
            position: fixed;
            top: 156px;
            width: 30%;
            height: 300px;
            left: -30%;
            transition: .5s linear;
        }
    
        .burgermenuul {
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
    
        .show{
            left: 0;
        }
        .pg3sectionfirst{
            padding: 112px 122px 112px 122px;
        
            }
    }
@media (max-width: 735px) {
    .pg3sectionfirst{
        /* padding: 32px 20px; */
    
        }
        .mapdimensions{
            /* width: 440px; */
            width: 100%;
            height: 320px;
        }
        .forbackground{
            width: 400px;
/* height: 615px; */
/* flex-shrink: 0; */
        }
}
