@media (max-width: 960px)
{
    .searchbox {
        width: 430px;
    }
    .searchbutton {
        width: 200px;
    }
    .eightimage{
        max-width: 330px;
        height: 240px;
    }
    .thirdline{
        gap: 80px;
        
    }
}
@media (max-width: 900px) {
    header{
        padding: 26px 80px;
            
        }
    .list{
        display: none;
    }
    .burgermenu{
        /* background-color: aqua; */
        display: block;
        /* padding: 32px 632px 32px 80px; */
    }
    
h2 {
    font-size: 32px;
    width: 429px;
    /* margin-top: 150px; */
}
.sectionfirst{
    padding: 53px 354px 8px 355px;
    /* padding: 187px 40px 188px 40px; */

}
.section1stp {
    /* width: 664px; */
    height: 76px;
    /* line-height: 57px; */
    /* margin-top: 25px; */
    padding: 25px 40px 53px 40px;
    margin-top: 25;
    margin-bottom: 53;
    /* margin-bottom: 53px; */
}

.shopnow {
    display: flex;
    width: 311px;
    height: 56px;
    /* padding: 19px 0px 18px 0px; */
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #D5906E;
    background-color: transparent;
}

.shopp {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
    .sectiontwo{
        flex-wrap: wrap;
    }
    .first{
        margin-left: 0;
    }
    .second{
        margin-right: 0;
    }
    .uppertwo{
        flex-direction: column;
        gap: 60px;
    }
    .zoomout_top{
        max-width: 690px;
        width: 95%;
        height: 322px;
    }
    .lowerthree{
        flex-direction: row;
        gap: 20px;
    }
    .fourth{
        margin-right: 0;

    }
    .zoomout_bottom{
        max-width: 315px;
        width: 90%;
        height: 260px;
    }
    /* .uppertwo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .lowerthree{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .zoomout_top{
        max-width: 690px;
        width: 100%;
        height: 322px;
    } */
    .fordisplaynone{
        display: none;
    }
    .leftarrow{
        display: none;
    }
    .rightarrow{
        display: none;
    }
    .smallpics{
        flex-wrap: wrap;
    }
    .price {
        display: inline-flex;
        padding: 15px 17px 14px 17px;
        font-size: 16px;
        /* justify-content: center; */
        /* align-items: center; */
        border-radius: 20px;
        /* border-color: #FFF; */
        /* background: #FFF; */
        /* color: #B53B1B; */
        /* position: absolute; */
        /* bottom: 16px; */
        /* left: 16px; */
        /* letter-spacing: 0.5px; */
    }
    .viewmorebutton{
        display: block;
        display: inline-flex;
padding: 15px 32px 14px 31px;
justify-content: center;
align-items: center;
border-radius: 10px;
background: #B53B1B;
border: none;
color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    .sextionsix{
        /* height: 646px; */
    }
    .cardsdiv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 129px; */
        /* height: 129px; */
        gap: 20px;
        max-width: 1200px;
        width: 100%;
    }
    .cards{
        max-width: 700px;
        width: 100%;
        height: 129px;

        /* margin-bottom: 28px; */
    }
    .sextionsix {
        padding: 160px 22px 0px;
        /* padding: 160px 240px; */
    
    }
/*     
    h6 {
        margin-bottom: 40px;

    }
    
    
    .h7 {
        margin-bottom: 24px;
    } */
    
    .h8 {
        margin-top: 28px;
        margin-bottom: 42px;
    }
    
    .HelpCenter {
        /* padding: 14px 52px 13px 52px;    */
        margin-bottom: 160px;
    }
    footer {
        /* display: flex; */
        /* padding: 32px 365px; */
        /* justify-content: center; */
        /* align-items: flex-start; */
        /* gap: 306px; */
        gap: 60px;
        /* background: #402101; */
    }
    .sectiontwo{
        padding: 160px 152px;

    }
    .fa-bars {
        display: block;
    }

    .burgermenu {
        background-color: rgb(86, 183, 200);
        position: fixed;
        top: 156px;
        width: 30%;
        height: 300px;
        left: -30%;
        transition: .5s linear;
    }

    .burgermenuul {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .show{
        left: 0;
    }
    .eightimage{
        max-width: 330px;
        height: 240px;
    }
    .thirdline{
        gap: 40px;
        
    }
    .pg2sectionsecond{
        padding: 161px 22px;
    }
    .secondline{
        gap: 300px;
    }
    
}
