@media (max-width: 960px) {
    .searchbox {
        width: 430px;
    }

    .searchbutton {
        width: 200px;
    }

    .eightimage {
        max-width: 330px;
        height: 240px;
    }

    .thirdline {
        gap: 80px;

    }
}

@media (max-width: 900px) {
    header {
        padding: 26px 80px;

    }

    .list {
        display: none;
    }

    .burgermenu {
        display: block;
    }

    h2 {
        font-size: 32px;
        width: 429px;
    }

    .sectionfirst {
        padding: 53px 354px 8px 355px;
    }

    .section1stp {
        height: 76px;
        padding: 25px 40px 53px 40px;
        margin-top: 25;
        margin-bottom: 53;
    }

    .shopnow {
        display: flex;
        width: 311px;
        height: 56px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 10px;
        border: 2px solid #D5906E;
        background-color: transparent;
    }

    .shopp {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .sectiontwo {
        flex-wrap: wrap;
    }

    .first {
        margin-left: 0;
    }

    .second {
        margin-right: 0;
    }

    .uppertwo {
        flex-direction: column;
        gap: 60px;
    }

    .zoomout_top {
        max-width: 690px;
        width: 95%;
        height: 322px;
    }

    .lowerthree {
        flex-direction: row;
        gap: 20px;
    }

    .fourth {
        margin-right: 0;

    }

    .zoomout_bottom {
        max-width: 315px;
        width: 90%;
        height: 260px;
    }

    .fordisplaynone {
        display: none;
    }

    .leftarrow {
        display: none;
    }

    .rightarrow {
        display: none;
    }

    .smallpics {
        flex-wrap: wrap;
    }

    .price {
        display: inline-flex;
        padding: 15px 17px 14px 17px;
        font-size: 16px;
        border-radius: 20px;
    }

    .viewmorebutton {
        display: block;
        display: inline-flex;
        padding: 15px 32px 14px 31px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: #B53B1B;
        border: none;
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .cardsdiv {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        max-width: 1200px;
        width: 100%;
    }

    .cards {
        max-width: 700px;
        width: 100%;
        height: 129px;
    }

    .sextionsix {
        padding: 160px 22px 0px;
    }

    .h8 {
        margin-top: 28px;
        margin-bottom: 42px;
    }

    .HelpCenter {
        margin-bottom: 160px;
    }

    footer {
        gap: 60px;
    }

    .sectiontwo {
        padding: 160px 152px;

    }

    .fa-bars {
        display: block;
    }

    .burgermenu {
        background-color: #ffd9b3;
        position: fixed;
        top: 95px;
        width: 15%;
        height: 100px;
        left: -30%;
        transition: .5s linear;
    }

    .burgermenuul {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .show {
        left: 0;
    }

    .eightimage {
        max-width: 330px;
        height: 240px;
    }

    .thirdline {
        gap: 40px;

    }

    .pg2sectionsecond {
        padding: 161px 22px;
    }

    .secondline {
        gap: 300px;
    }

}