.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

/* header styles... */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 240px;
    background: rgba(213, 144, 110, 0.52);
    backdrop-filter: blur(5px);
    position: fixed;
    max-width: inherit;
    width: inherit;
    height: 96px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.burgermenu {
    display: none;
}

.fa-bars {
    color: white;
    font-size: 32px;
    display: none;
}

.fa-xmark {
    color: white;
    font-size: 32px;
    display: none;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.liststyles {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.activedark {
    color: #D5906E;
}

h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

span {
    color: #D5906E;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.texticon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.signin {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 52px;
}

.cart1 {
    width: 24px;
    color: #FFF;
}

/* section first styles... */
.sectionfirst {
    width: 100%;
    height: 720px;
    background-image: url(..//images/Rectangle\ 106.png);
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 283px 584px 188px 585px;
}

h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 485px;
}

.section1stp {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 72px;
    width: 750px;
    height: 57px;
    letter-spacing: 1px;
}

.shopnow {
    display: flex;
    width: 311px;
    height: 56px;
    padding: 19px 0px 18px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #D5906E;
    background-color: transparent;
}

.shopp {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* section two styles */
.sectiontwo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 160px 490px;
    gap: 60px;
}

.sec2figures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.figimages {
    width: 190px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 70px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.figcaption1 {
    color: #B53B1B;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* section third styles */
.sectionthree {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #402101;
}

h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 96px;
}

.uppertwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.lowerthree {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-bottom: 96px;
}

/* section four styles */
.sectionfour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 160px 172px;
}

h4 {
    color: #402101;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.smallpics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.leftarrow {
    margin-right: -36px;
}

.rightarrow {
    margin-left: -36px;
}

.forresponsive {
    width: 100%;
}

.forpositions {
    border-radius: 8px;
    position: relative;
}

.price {
    display: inline-flex;
    padding: 15px 17px 14px 17px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    color: #B53B1B;
    position: absolute;
    bottom: 16px;
    left: 16px;
    letter-spacing: 0.5px;
}

.viewmorebutton {
    display: none;
}

.sectionfive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(..//images/Rectangle\ 98.png);
    margin-top: 160px;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 480px;
}

h5 {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 55px;
    letter-spacing: 1px;
}

/* section sixth styles */
.sextionsix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px 240px;

}

h6 {
    color: #402101;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
}

.cardsdiv {
    display: flex;
    gap: 60px;
}

.cards {
    max-width: 439px;
    width: 100%;
    border-radius: 8px;
    background: rgba(213, 144, 110, 0.30);
}

.h7 {
    color: #B53B1B;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
}

.txt {
    color: #402101;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h8 {
    color: #402101;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 112px;
    margin-bottom: 20px;
}

.HelpCenter {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    padding: 14px 52px 13px 52px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #B53B1B;
    border: none;
}

/* footer styles */
footer {
    display: flex;
    padding: 32px 365px;
    justify-content: center;
    align-items: flex-start;
    gap: 306px;
    background: #402101;
}

.h9 {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

.footlist {
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    gap: 8px;
}

.socialicons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    gap: 24px;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 16px;
}

.details {
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    width: 160px;
}

.contactslist {
    display: flex;
    width: 184px;
    height: 104px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

/* page2 section first styles */
.pg2sectionfirst {
    background-image: url(..//images/Rectangle\ 107.png);
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h10 {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 143px;
    margin-bottom: 72px;
}

.pg2shopnow {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 311px;
    height: 56px;
    padding: 19px 0px 18px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #D5906E;
    background-color: transparent;
}

/* page2 section  two styles */
.pg2sectionsecond {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 160px;
    padding-bottom: 160px;
    padding-left: 230px;
    padding-right: 230px;
}

.firstline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbox {
    display: flex;
}

.emailbox {
    display: flex;
}

.emailgraph {
    width: 331px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background-color: transparent;
    color: black;
    padding-left: 19px;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.subscribebutton {
    display: flex;
    width: 151px;
    display: flex;
    height: 56px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    background: #FFF;
    margin-left: -20px;
    border: none;
}

.pandarrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 59px;
}

.pwitharrow {
    color: #402101;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
    height: 22px;
    margin-right: 12px;
}

.writingbox {
    width: 690px;
    height: 56px;
    border-radius: 10px;
    border: 2px solid #402101;
    background-color: transparent;
    padding: 19px;
    color: black;
}

.searchbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    display: flex;
    width: 251px;
    padding: 17px 0px;
    flex-shrink: 0;
    border-radius: 0px 10px 10px 0px;
    background: #402101;
    margin-left: -9px;
    color: #FFF;
}

.secondline {
    display: flex;
    justify-content: center;
    gap: 1089px;
    margin-top: 61px;
}

.categoriesdiv {
    width: 233px;
    color: #402101;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sortandarrow {
    display: flex;
    gap: 40px;
    align-items: center;
}

.sorting {
    color: #402101;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.thirdline {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 94px;
}

.eightimage {
    width: 100%;
}

.cardscaption {
    color: #B53B1B;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 24px;
}

.priceandcart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardsprice {
    margin-top: 28px;
}

.scrollingnumbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 142px;
}

.numbers {
    display: flex;
    width: 56px;
    height: 56px;
    padding: 17px 0px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #fff;
    color: #402101;
    border: 2px solid #B53B1B;
}

.activepage {
    background: #B53B1B;
}

/* page3 section first styles */
.pg3sectionfirst {
    background-image: url(..//images/Rectangle\ 108.png);
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 208px 1180px 112px 240px;
}

.h11 {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pg3inputs {
    display: flex;
    flex-direction: column;
    padding: 24px 30px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: rgba(64, 33, 1, 0.73);
    box-shadow: -1px -1px 4px 0px #FFF;
}

.nameandemail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.76);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fortransparent {
    background-color: transparent;
    display: flex;
    width: 190px;
    padding: 11px 116px 12px 8px;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #FFF;
    color: #FFF;
}

.submitbox {
    display: inline-flex;
    height: 56px;
    padding: 19px 42px 18px 43px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D5906E;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

.messagebox {
    display: flex;
    width: 440px;
    height: 96px;
    padding: 8px;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #FFF;
    background-color: transparent;
    resize: none;
    margin-top: 36px;
    margin-bottom: 36px;
    color: rgba(255, 255, 255, 0.76);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fname {
    margin-right: 60px;

}

/* page 3 section two styles */
.pg3sectionsecond {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.forbackground {
    display: flex;
    width: 1190px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background: rgba(213, 144, 110, 0.30);
    margin-top: 160px;
    margin-bottom: 160px;
}

.h12 {
    color: #402101;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.topmargin {
    margin-top: 32px;
}

.andmap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 220px;
}

.mapdimensions {
    width: 815px;
    height: 320px;
}

.boldtext {
    color: #B53B1B;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.normaltext {
    color: #623932;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* hovers */
.HelpCenter:hover,
.subscribebutton:hover,
.viewmorebutton:hover,
.shopnow:hover,
.numbers:hover,
.searchbutton:hover,
.pg2shopnow:hover,
.page3button:hover,
.button:hover,
.submitbox:hover {
    background-color: pink;
    color: #FFF;
}

.figimages:hover {
    filter: grayscale(80%);
    transition: filter 0.7s;
}

.forresponsive:hover {
    filter: blur(3px);
    filter: grayscale(1);
    filter: saturate(2.2);
}

.socialzoom:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}