.container {
    border: 10px solid pink;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 5000px;
    /* padding-top: 96px; */
}

/* header styles... */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 240px;
    /* justify-content: center;
    align-items: center; */
    gap: 399px;
    background: rgba(213, 144, 110, 0.52);
    backdrop-filter: blur(5px);
    position: fixed;
    /* z-index: 1; */
    max-width: inherit;
    width: inherit;
    height: 96px;
    top: 0;
    left: 50%;
    transform: translate(-50%);


}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

/* .headernav{
    display: flex;
    justify-content: space-between;
} */
h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

span {
    color: #D5906E;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.texticon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.signin {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cart1 {
    width: 24px;
    /* height: 24px; */
    /* flex-shrink: 0; */
}
/* section first styles... */
.sectionfirst{
    /* width: 100%; */
height: 720px;
/* flex-shrink: 0; */
    background-image:url(..//images/Rectangle\ 106.png);
display: flex;
background-size: cover;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 283px 584px 188px 585px;
}
h2{
    color: #FFF;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section1stp{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 16px;
margin-bottom: 72px;
}
.shopnow{
    display: flex;
width: 311px;
height: 56px;
padding: 19px 0px 18px 0px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 10px;
border: 2px solid #D5906E;
background-color: transparent;
}
.shopp{
    color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}