@font-face {
    font-family: 'Inter';
    src: url('../fontss/Inter-Regular.woff') format('woff2'),
        url('../fontss/Inter-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fontss/Rubik-Light.woff') format('woff2'),
        url('../fontss/Rubik-Light.woff2') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

