@font-face {
    font-family: 'Inter';
    src: url('../fontss/Inter-Regular.woff') format('woff2'),
        url('../fontss/Inter-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

